# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Admin
ADMIN_EMAILS=
NEXT_PUBLIC_ADMIN_EMAILS=

# Delhivery
DELHIVERY_API_TOKEN=
DELHIVERY_BASE_URL=https://track.delhivery.com
DELHIVERY_ORIGIN_PINCODE=
DELHIVERY_PICKUP_LOCATION_NAME=
DELHIVERY_CLIENT_NAME=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Seller Details
SELLER_NAME=
SELLER_ADDRESS=
SELLER_STATE=
RETURN_PHONE=
